<launch>
  <node pkg="livox_repub" type="livox_repub" name="livox_repub" output="screen">
    <param name="global" value="false" />
    <param name="input_pointcloud_topic" value="/livox/lidar" />
    <param name="input_pose_topic" value="/mavros/local_position/pose" />
    <param name="output_pointcloud_topic" value="/pointcloud" />
  </node>
</launch>
